*,*::after,*::before{
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
body{
    background: #d9eedb;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px ;
    height: 100vh;
    @media (max-width:600px) {
        height: 100%;
    }
}
form{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    align-items: center;
    padding: 20px 40px 40px 40px;
    border-radius: 25px;
    h1{
        margin: 0;
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
        @media (max-width:600px){
            margin: 0;
            font-style: 25px;
        }
    }
    @media (max-width:600px){
        padding: 0;
        margin: 0;
    }
}
.active{
    display: flex !important;
}
.Form__Item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    label{
        width: 35%;
        font-size: 18px;
        @media (max-width:600px){
            width: 100%;
        }
    }
    input{
        font-size: 17px;
    }
    &>input, &>select{
        height: 25px;
        width: 300px;
        border-radius: 5px;
        background: #ffffff;
        @media (max-width:600px){
            width: 100%;
        }
    }
    @media (max-width:600px){
        align-items: flex-start;
        flex-direction: column;
    }
}
.Sex, .Sms{
    align-items: center;
    @media (max-width:600px){
        flex-direction: row;
        justify-content: space-between;
        label{
            width: initial !important;
        }
    }
}
.Group__selector{
    height: 50px !important;
}
#check_sms{
    width: 20px;
}
.reg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.anotation{
    align-self: flex-start;
    margin-left: 20px;
}
.footer{
    flex-direction: row;
}
span{
    color: red;
}
.content_select{
    width: 100%;
    max-width: 1000px;

    display: flex;
    justify-content: space-around;

    p{
        padding: 5px;
        margin-top: 5px;
        border-radius: 7px;
        background: #ffffff;
        font-size: 17px;
        border: 1px solid #000;
        font-weight: 600;
        text-align: center;
        &:hover{
            cursor: pointer;
            background: #fafafa;
        }
    }
}
.btn{
    width: 25%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    background: #d9eedb;
    border-radius: 5px;
    @media (max-width:600px){
        margin: 15px;
        width: 50%;
    }
}

#errors{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
        @media (max-width:600px){
            font-size: 20px;
        }
    }
}

/*#errors{
    position: fixed;
    background: rgba(#afafaf, .6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    .errors__content{
        width: 50%;
        height: 50%;
        background: #ffffff;
        .close{
            width: 20px;
            height: 20px;
            display: inline-flex;
            background: red;
            justify-self: flex-end;
            align-self: flex-start;
        }
    }
}*/